@font-face {
    font-family: 'regular';
    src: url(OpenSans-Regular.ttf);
}

@font-face {
    font-family: bold;
    src: url(OpenSans-Bold.ttf);
}

body{
    margin: 0;
    background-color: #252423;
    color: #a6a6a4;
    font-family: 'regular';
    font-size: 14px;
}

.warning{
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #1f1f1f;
    font-size: 13px;
    text-align: center;
    box-shadow: 0 0 2px 0 #000000;
}

#display{
    display: none;
    margin: 5px;
    font-size: 13px;
}

#display label{
    color: #22b14c;
    font-family: 'bold';
}

.events{
    position: absolute;
    left: 5px;
    bottom: 25px;
    font-size: 13px;
}

#eventText{
    margin-left: 3px;
}

#eventText.error{
    color: #ff4c4c;
}

#timers{
    margin-top: 5px;
}

#timers span{
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
    padding: 2px;
    background-color: #201f1e;
    font-size: 12px;
    box-shadow: 0 0 2px 0 #000;
}

#timers span.best{
    background-color: #22b14c;
    color: #252423;
}


/* 
#status{
    color: #ffc90e;
}

#status.active{
    color: #22b14c;
}

#status.error{
    color: #ff4c4c;
}

.boss{
    margin-top: 10px;
}

.boss span:nth-child(1){
    color: #22b14c;
} */